@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
#00464d
#00aab3
*/

:root {
  --color-primary: 185deg 100% 15%; 
  --color-secondary:183deg 100% 35%;
}

html{
  scroll-behavior: smooth;
}
body{
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
	width: 5px;
	background-color: #393E46;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#007980),
									   to(#00ADB5),
									   color-stop(.6,#EEEEEE))
}

.font-PS2P {
  font-family: 'Press Start 2P', sans-serif;
}
.font-kanit {
  font-family: 'Kanit', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}